.d-xl-flex {
  background-color: rgb(16, 75, 137);
}
h1,
h3 {
  color: white;
}
h4 {
  color: rgb(2, 56, 115);
}

.row {
  padding: 20px;
}
.input-group-text {
  height: 50px;
}
.article-details i {
  padding: 10px;
}
$color_1: #fff;
$color_2: #000000;
$color_3: #e6e6e6;
$color_4: rgba(255, 255, 255, 0.2);
$color_5: #999;
$color_6: white;
$font_family_1: 'Raleway', Arial, sans-serif;
$background_color_1: #ffffff;
$background_color_2: #2980b9;
$background_color_3: rgba(0, 0, 0, 0.1);
$background_color_4: #20638f;
$background_color_5: rgb(2, 56, 115);
$border_left_color_1: rgb(2, 56, 115);
