.btn-pagination{
    margin: 2% 40%;
    width: 100px;
}

button[name=previous], button[name=next]{
    display: inline-block;
    color: white;
    background-color: #023873;
    height: 5vh;
}


span{
  margin: 0% 50%;
  color: #023873;
}