version: 2
jobs:
  build:
    environment:
      echo $CC_TEST_REPORTER_ID
    docker:
      - image: circleci/node:8
    steps:
      - checkout
      - run:
          name: Setup Dependencies
          command: npm install
      - run:
          name: Setup Code Climate test-reporter
          command: |
            curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter 
            chmod +x ./cc-test-reporter
      - run:
          name: Run Tests and Coverage
          command: |
            ./cc-test-reporter before-build
            npx jest -u --coverage
            ./cc-test-reporter after-build --exit-code $?
