figure.snip1253 {
    font-family: 'Raleway', Arial, sans-serif;
    color: #fff;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 250px;
    max-width: 310px;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    text-align: left;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  }
  
  figure.snip1253 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  figure.snip1253 .image {
    max-height: 220px;
    overflow: hidden;
  }
  
  figure.snip1253 img {
    max-width: 100%;
    vertical-align: top;
    position: relative;
  }
  
  figure.snip1253 figcaption {
    margin: -40px 15px 0;
    padding: 15px;
    position: relative;
    background-color: #ffffff;
  }
  
  figure.snip1253 .date {
    background-color: #2980b9;
    top: 15px;
    color: #fff;
    left: 15px;
    min-height: 48px;
    min-width: 48px;
    position: absolute;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  figure.snip1253 .date span {
    display: block;
    line-height: 24px;
  }
  
  figure.snip1253 .date .month {
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  figure.snip1253 h3, figure.snip1253 p {
    margin: 0;
    padding: 0;
  }
  
  figure.snip1253 h3 {
    min-height: 50px;
    margin-bottom: 10px;
    margin-left: 60px;
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  figure.snip1253 p {
    font-size: 0.8em;
    margin-bottom: 20px;
    line-height: 1.6em;
  }
  
  figure.snip1253 footer {
    padding: 0 25px;
    background-color: #20638f;
    color: #e6e6e6;
    font-size: 0.8em;
    line-height: 30px;
    text-align: right;
  }
  
  figure.snip1253 footer > div {
    display: inline-block;
    margin-left: 10px;
  }
  
  figure.snip1253 footer i {
    color: rgba(255, 255, 255, 0.2);
    margin-right: 5px;
  }
  
  figure.snip1253 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
  }
  
  figure.snip1253:hover img, figure.snip1253.hover img {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
  
  img {
    border-radius: 5px;
  }
  
  img {
    border-radius: 5px;
  }
  
  .landing-articles {
    display: flex;
    justify-content: center;
  }
  
  .row.article-row {
    flex-wrap: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .row.row-img {
    margin-left: 80px;
    justify-content: center;
    display: flex;
    align-content: center;
  }
  
  .footer-article {
    position: relative;
    top: 71vh;
  }
  
  form {
    width: 60%;
    margin: auto;
    height: 70%;
  }
  
  .img-fluid {
    width: 100%;
  }
    
  .article-details {
    justify-content: space-around;
    font-size: 15px;
    display: flex;
  }
  
  .article-row.article-details {
    width: 12px;
  }
  
  .article-dual-column.create-article {
    margin-bottom: 50px;
    height: 100%;
  }
  
  .create-article-section {
    margin-bottom: -400px;
    padding-bottom: -700px;
  }
  
  .or-seperator {
    margin: 20px 0 10px;
    text-align: center;
    border-top: 1px solid #ccc;
  }
  
  .or-seperator i {
    padding: 0 10px;
    background: #f7f7f7;
    position: relative;
    top: -11px;
    z-index: 1;
  }
  
  .follow {
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    background: #023873;
  }
  
  .tag-div {
    display: flex;
    padding: 10px;
    /*margin-right: 10px;*/
  }
  
  .tag-div input[type="text"] {
    margin-right: 20px;
  }
  
  .tags {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
  }
  
  .tags li {
    float: left;
  }
  
  .tag {
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: #999;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    transition: color 0.2s
  }
  
  .tag::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
  }
  
  .tag::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .tag:hover {
    background-color: rgb(2,56,115);
    color: white;
  }
  
  .tag:hover::after {
    border-left-color: rgb(2,56,115);
  }
  
  .tag-div input[type="submit"] {
    margin-right: 10px;
  }
  
  p.article-icons {
    font-size: xx-large;
  }
  
  text-right {
    align-items: flex-start;
  }
  